<link rel="stylesheet" href="Shybi\style\style.css">
	<script src="Shybi\js\grid.js"></script>
	<script src="Shybi\js\background.js"></script>
	<script src="Shybi\js\ramp.js"></script>
	<script src="Shybi\js\hero.js"></script>
	<script src="Shybi\js\engine.js"></script>
	<div class="game"">
		 <canvas id='background' width=800 height=500></canvas>
		 <canvas id='ramps' width=800 height=500></canvas>
		 <canvas id='end' width=800 height=500></canvas>
		 <canvas id='hero' width=800 height=500></canvas>
	</div>