.game {
	width:800px;
	height:500px;
}
.game {
	margin:0;
	padding:0;
	background-color:yellow;
	width:800px;
	height:500px;
}
cancas {
	
	padding:0;
}	
#background
{
	width:100%;
	height:100%;
	position:absolute;
	z-index:1;
}
#ramps
{
	width:100%;
	height:100%;
	position:absolute;
	z-index:3
}
#hero
{
	width:100%;
	height:100%;
	position:absolute;
	z-index:2
}
#end
{
	width:100%;
	height:100%;
	position:absolute;
	z-index:4
}